*{
    margin:0 ;
    padding:0 ;
}
.logo{
    position: static;
    display: flex;

    align-items: center;
    text-align: center;
}
nav{
    background-color: white;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    position: static;
    justify-content: space-around;
    align-items: center;
    gap: 500px;




    box-shadow: 0 6px 10px rgba( 0, 0,0);
}
.navtext{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 54px;


}
.logo{
    text-align: end;
    display: inline;
    font-size: 20px;
    font-family: 'roboto', sans-serif;
    width: 300px;



}
.logo img{
    width: 50%;
}

a{
    text-decoration: none;
    color: gray;
    text-transform: capitalize;
    font-weight: bolder;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
}
.nike{
    color: #ff8367;
    font-weight: bolder;
    font-family: 'roboto', sans-serif;
}
a:hover{
    color: black;


} 
.bars{
    display: none;
} 
@media screen and ( max-width:480 ){
    .bars{
        display: block;
    }
    .navtext{
        display: none;
    }
    .nav{
        width:30%
    }
}
    

    
